<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="hycardurl" value="http://hycard.hyweb.com.tw"/>
    <add key="pfx" value="localhost.ywc.im.pfx"/>
    <add key="pfxpwd" value="!Q)O2w9i"/>
    <add key="hostsSetting" value="localhost.ywc.im"/>
    <add key="port" value="7776"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
